<!DOCTYPE html>
<html lang="en" th:fragment="html (title,header,content,head,footer,leftSidebar,htmlType)" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>

    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="admin">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="site" th:content="${site.url}">
    <!-- OG -->
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="zh_CN">
    <meta property="og:site_name" content="Halo1.6">
    <meta property="og:url" th:content="${site.url}">
    <meta property="og:title" th:content="${titlie}">
    <meta property="twitter:partner" content="ogwp">
    <!-- /OG -->

    <th:block th:replace="~{modules/config :: config}" />
    <th:block th:replace="~{modules/link :: links}" />
    <script th:src="@{/assets/lib/jquery@3.5.1/jquery.min.js}"></script>


</head>
<!-- /OG -->
<th:block th:replace="${content}"></th:block>
</html>