<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="post_bread">
  <div class="joe_container joe_bread">
    <ul class="joe_bread__bread">
      <li class="item">
        <i class="jiewen joe-icon-shouye"></i>
        <a th:href="${site.url}" class="link" title="首页">首页</a>
      </li>
      <th:block th:if="${not #lists.isEmpty(post.categories)}">
        <th:block th:with="category = ${post.categories[0]}">
      <li class="line">/</li>
      <li class="item">
        <a class="link" th:href="${category.status.permalink}" th:title="${category.spec.displayName ?: '默认分类'}">[[${category.spec.displayName ?: '默认分类'}]]</a>
      </li>
        </th:block>
      </th:block>
      <th:block th:if="${#lists.isEmpty(post.categories)}">
      <li class="line">/</li>
      <li class="item">
        <a class="link" th:href="${site.url}" title="未分类">未分类</a>
      </li>
      </th:block>
  <li class="line">/</li>
  <li class="item">正文</li>
  </ul>
  </div>
</th:block>
</html>