<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="postSetting">
  <script th:inline="javascript" id="theme-config-getter">
    const PageAttrs_metas_enable_read_limit = /*[[${#annotations.get(post, 'enable_read_limit')}]]*/ false;
    const PageAttrs_metas_enable_page_meta = /*[[${#annotations.get(post, 'enable_page_meta')}]]*/ true;
    const PageAttrs_metas_enable_passage_tips = /*[[${#annotations.get(post, 'enable_passage_tips')}]]*/ true;
    const PageAttrs_metas_enable_collect_check = /*[[${#annotations.get(post, 'enable_collect_check')}]]*/ true;
    const PageAttrs_metas_use_raw_content = /*[[${#annotations.get(post, 'use_raw_content')}]]*/ false;
    const PageAttrs_metas_enable_comment = /*[[${#annotations.get(post, 'enable_comment')}]]*/ true;
    const PageAttrs_metas_enable_toc = /*[[${#annotations.get(post, 'enable_comment')}]]*/ true;
    const PageAttrs_metas_toc_depth = /*[[${#annotations.get(post, 'toc_depth')}]]*/ 0;
    const PageAttrs_metas_img_max_width = /*[[${#annotations.get(post, 'img_max_width')}]]*/ '100%';
    const PageAttrs_metas_img_align = /*[[${#annotations.get(post, 'img_align')}]]*/ 'center';
    const PageAttrs_metas_enable_copy = /*[[${#annotations.get(post, 'enable_copy')}]]*/ true;
    const PageAttrs_metas_enable_donate = /*[[${#annotations.get(post, 'enable_donate')}]]*/ true;
    const PageAttrs_metas_enable_share = /*[[${#annotations.get(post, 'enable_share')}]]*/ true;
    const PageAttrs_metas_enable_like = /*[[${#annotations.get(post, 'enable_like')}]]*/ true;
    const PageAttrs_metas_enable_fold_long_code = /*[[${#annotations.get(post, 'enable_fold_long_code')}]]*/ true;
  </script>
</th:block>
</html>