<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layout :: html(title = ${site.title},htmlType = index,header = null,leftSidebar = true,content = ~{::content}, head = null, footer = null)}"
>
  <th:block th:fragment="content">
      <body>
      <div id="Joe">
<!--          navbar-->
          <th:block th:replace="~{modules/macro/navbar :: navbar}" />
<!--          首页大图-->
          <th:block th:if="${theme.config.beauty.enable_big_banner}">
              <th:block th:replace="~{modules/macro/big_banner :: big_banner(${title})}" />
          </th:block>

          <div class="joe_container joe_main_container page-index"
          th:classappend="|${theme.config.theme.enable_show_in_up ? 'animated showInUp':''} ${theme.config.aside.aside_position == 'left' ? 'revert':''}|">
              <div class="joe_main">
                  <div class="joe_index">
<!--                      轮播图-->
                      <th:block th:if="${theme.config.carousel.enable_banner} and ${not #lists.isEmpty(theme.config.carousel.banner_source)}">
                          <th:block th:replace="~{modules/macro/banner :: banner}" />
                      </th:block>

                      <th:block th:if="${theme.config.home.enable_hot_category} and (${not #lists.isEmpty(theme.config.home.category_data)} or ${not #lists.isEmpty(theme.config.home.custom_data)})">
                          <th:block th:replace="~{modules/macro/hot_category :: hot_category}" />
                      </th:block>

                      <div class="joe_index__article">
                          <div class="joe_index__title">
                              <ul class="joe_index__title-title passage-list-tabs default">
                                  <li class="item active" data-type="1">最新文章</li>
                              </ul>
                              <th:block th:if="${theme.config.social.qq_group != ''} and ${theme.config.social.qq_group != null}">
                              <div class="joe_index__title-notice">
                                  <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                      <path d="M656.261 347.208a188.652 188.652 0 1 0 0 324.05v-324.05z" fill="var(--theme)"></path>
                                      <path d="M668.35 118.881a73.35 73.35 0 0 0-71.169-4.06l-310.01 148.68a4.608 4.608 0 0 1-2.013.46h-155.11a73.728 73.728 0 0 0-73.728 73.636v349.64a73.728 73.728 0 0 0 73.728 73.636h156.554a4.68 4.68 0 0 1 1.94.43l309.592 143.196a73.702 73.702 0 0 0 104.668-66.82V181.206a73.216 73.216 0 0 0-34.453-62.326zM125.403 687.237v-349.64a4.608 4.608 0 0 1 4.608-4.608h122.035v358.882H130.048a4.608 4.608 0 0 1-4.644-4.634zm508.319 150.441a4.608 4.608 0 0 1-6.564 4.193L321.132 700.32V323.773l305.97-146.723a4.608 4.608 0 0 1 6.62 4.157v656.471zM938.26 478.72H788.01a34.509 34.509 0 1 0 0 69.018H938.26a34.509 34.509 0 1 0 0-69.018zM810.01 360.96a34.447 34.447 0 0 0 24.417-10.102l106.245-106.122a34.524 34.524 0 0 0-48.84-48.809L785.587 302.08a34.509 34.509 0 0 0 24.423 58.88zm24.417 314.609a34.524 34.524 0 1 0-48.84 48.814L891.832 830.52a34.524 34.524 0 0 0 48.84-48.809z" fill="#595BB3"></path>
                                  </svg>
                                  <a th:href="${theme.config.social.qq_group}" target="_blank" rel="noopener noreferrer nofollow">[[${theme.config.social.qq_text}]]</a>
                              </div>
                              </th:block>
                          </div>
                          <div class="joe_index__list">
                              <ul class="joe_list">
                                  <th:block th:each="post, iteration : ${posts.items}">
                                      <th:block th:replace="~{modules/macro/post_item :: post_item}" />
                                  </th:block>
                              </ul>
                          </div>
                      </div>
                  </div>
<!--                  pagination-->
                  <th:block th:replace="~{modules/common/pagination :: pagination}" />
              </div>
<!--              aside-->
              <th:block th:if="${theme.config.aside.enable_aside}">
                  <th:block th:replace="~{modules/common/aside :: aside}" />
              </th:block>
          </div>

<!--悬浮按钮-->
          <th:block th:if="${theme.config.post.enable_mobile_toc} or ${theme.config.theme.enable_back2top} or ${theme.config.basic.theme_mode == 'user'}">
              <th:block th:replace="~{modules/common/actions :: actions}" />
          </th:block>
          <th:block th:if="${theme.config.footer.enable_footer}">
              <th:block th:replace="~{modules/common/footer :: footer}" />
          </th:block>
      </div>
      <th:block th:replace="~{modules/macro/tail :: tail}" />


      </body>
  </th:block>
</html>
