<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="html (head,content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2"
    />
    <title th:text="${site.title}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    <script th:src="@{/assets/js/main.js}"></script>
    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block>
  </head>
  <body th:style="'background-color: '+${theme.config.style.background_color ?: '#f2f2f2'}">
    <section>
      <th:block th:replace="${content}" />
    </section>
  </body>
</html>
