<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layout :: html(title = ${theme.config.photos.photos_title?:'我的图库'}+'-'+${site.title},htmlType = photos,header = null,leftSidebar = true,content = ~{::content}, head = null, footer = null)}"
>
<th:block th:fragment="content">
    <body>
    <div id="Joe">
        <th:block th:replace="~{modules/macro/navbar :: navbar}" />
        <div class="joe_container joe_main_container page-photos"
             th:classappend="|${theme.config.theme.enable_show_in_up ? 'animated showInUp':''} ${theme.config.aside.aside_position == 'left' ? 'revert':''}|">
            <div class="joe_main">
                <div class="joe_photos__type">
                    <div class="joe_photos__type-title">
                        <i class="joe-font joe-icon-tupian"></i>&nbsp;[[${theme.config.photos.photos_title?:'我的图库'}]]
                </div>
                <nav class="joe_photos__filter">
                    <ul>
                        <li class="active" data-filter="">
                            <a href="javascript:;">全部</a>
                        </li>
                        <th:block th:each="group : ${groups}">
                        <li th:data-filter="${group.spec.displayName}">
                            <a href="javascript:;">[[${group.spec.displayName}]]</a>
                        </li>
                        </th:block>

                </ul>
                </nav>

            </div>
                <div class="joe_photos__gallery grid justified-gallery" th:each="group : ${groups}" >
                    <a th:each="photo : ${group.photos}" class="item animated wow jg-entry" data-wow-diration="0.3s" data-wow-delay="0.0s" th:href="${photo.spec.url}" data-fancybox="gallery" data-caption="thumbnail_large" style="visibility: visible; animation-delay: 0.2s; width: 338px; height: 171.256px; top: 10px; left: 467px; opacity: 1;">
                        <img width="100%" height="100%" class="lazyloadx" th:src="${photo.spec.url}" alt="thumbnail_large" style="width: 338px; height: 172px; margin-left: -169px; margin-top: -86px; opacity: 1;">
                        <span class="team" style="background-color:#682d88"></span>
                        <p class="tit">[[${photo.spec.displayName}]]</p>
                        <div class="info">
                            <p class="animated fadeInRightBig"><i class="joe-font joe-icon-paizhao"></i><span>[[${photo.spec.displayName}]]</span></p>

                            <p class="animated fadeInRightBig"><i class="joe-font joe-icon-shijian"></i>2023-07-12</p>
                        </div>
                    </a>

                </div>

        </div>
            <th:block th:if="${theme.config.aside.enable_photos_aside}">
                <th:block th:replace="~{modules/common/aside :: aside}" />
            </th:block>
    </div>
    <th:block th:replace="~{modules/common/actions :: actions}" />
    <th:block th:replace="~{modules/common/footer :: footer}" />
    </div>
    <th:block th:replace="~{modules/macro/tail :: tail}" />
    </body>

</th:block>
</html>