<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="hot">
    <section class="joe_aside__item newest">
      <div class="joe_aside__item-title">
        <i class="joe-font joe-icon-huo"></i>
        <span class="text">热门文章</span>
      </div>
      <div class="joe_aside__item-contain">
        <ul class="list">
          <th:block
            th:with="posts = ${postFinder.list({
  page: 1,
  size: #conversions.convert(theme.config.aside.set_hot_post_num, 'java.lang.Integer'),
  sort: {'stats.visit,desc', 'metadata.creationTimestamp,asc'}
})}"
          >
            <li class="item" th:each="post : ${posts.items}">
              <a class="link" th:href="@{${post.status.permalink}}" th:text="${post.spec.title}"
                >${post.title!}</a
              >
              <i class="joe-font joe-icon-link"></i>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
  </th:block>
</html>
