<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="data_by_post(post_metadata)">
    <div class="swiper-slide" th:with="post = ${postFinder.getByName(post_metadata)}">
      <a
        class="item"
        th:classappend="${post.status.permalink !='' ? 'clickable': ''}"
        th:href="${post.status.permalink !='' ? post.status.permalink : 'javascript:;'}"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <th:block
          th:with="postCover = ${#lists.isEmpty(theme.config.home.post_thumbnail)? theme.config.basic.random_img_api_url+'?pageid='+post.metadata.name : theme.config.home.post_thumbnail}"
        >
          <img
            width="100%"
            height="100%"
            class="thumbnail lazyload"
            th:with="cover = ${post.spec.cover ?: postCover}"
            th:data-src="${cover}"
            th:srcset="|${thumbnail.gen(cover, 's')} 400w,
              ${thumbnail.gen(cover, 'm')} 800w,
              ${thumbnail.gen(cover, 'l')} 1200w,
              ${thumbnail.gen(cover, 'xl')} 1600w|"
            sizes="(max-width: 1600px) 100vw, 1600px"
            th:src="${theme.config.carousel.banner_lazyload_img}"
            th:alt="${post.spec.title}"
            onerror="Joe.errorImg(this, 'HomeErrImg')"
          />
        </th:block>

        <div class="title-row">
          <h3 class="title">[[${post.spec.title}]]</h3>

          <th:block th:if="${post.status.excerpt != ''}">
            <p class="subtitle">[[${post.status.excerpt}]]</p>
          </th:block>
        </div>

        <i class="joe-font joe-icon-zhifeiji"></i>
      </a>
    </div>
  </th:block>
  <th:block th:fragment="data_by_custom(banner_url, banner_cover, banner_title, banner_excerpt)">
    <div class="swiper-slide">
      <a
        class="item"
        th:classappend="${banner_url !='' ? 'clickable': ''}"
        th:href="${banner_url !='' ? banner_url : 'javascript:;'}"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <th:block
          th:with="postCover = ${#lists.isEmpty(theme.config.home.post_thumbnail)? theme.config.basic.random_img_api_url+'?pageid='+banner_title : theme.config.home.post_thumbnail}"
        >
          <img
            width="100%"
            height="100%"
            class="thumbnail lazyload"
            th:with="cover = ${banner_cover ?: postCover}"
            th:data-src="${cover}"
            th:srcset="|${thumbnail.gen(cover, 's')} 400w,
              ${thumbnail.gen(cover, 'm')} 800w,
              ${thumbnail.gen(cover, 'l')} 1200w,
              ${thumbnail.gen(cover, 'xl')} 1600w|"
            sizes="(max-width: 1600px) 100vw, 1600px"
            th:src="${theme.config.carousel.banner_lazyload_img}"
            th:alt="${banner_title}"
            onerror="Joe.errorImg(this, 'HomeErrImg')"
          />
        </th:block>

        <div class="title-row">
          <h3 class="title">[[${banner_title}]]</h3>

          <th:block th:if="${banner_excerpt != ''}">
            <p class="subtitle">[[${banner_excerpt}]]</p>
          </th:block>
        </div>

        <i class="joe-font joe-icon-zhifeiji"></i>
      </a>
    </div>
  </th:block>
  <th:block th:fragment="data_by_hot(num)">
    <th:block
      th:with="posts = ${postFinder.list({
  page: 1,
  size: num,
  sort: {'stats.visit,desc', 'metadata.creationTimestamp,asc'}
})}"
    >
      <div class="swiper-slide" th:each="post : ${posts.items}">
        <a
          class="item"
          th:classappend="${post.status.permalink !='' ? 'clickable': ''}"
          th:href="${post.status.permalink !='' ? post.status.permalink : 'javascript:;'}"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <th:block
            th:with="postCover = ${#lists.isEmpty(theme.config.home.post_thumbnail)? theme.config.basic.random_img_api_url+'?pageid='+post.metadata.name : theme.config.home.post_thumbnail}"
          >
            <img
              width="100%"
              height="100%"
              class="thumbnail lazyload"
              th:with="cover = ${post.spec.cover ?: postCover}"
              th:data-src="${cover}"
              th:srcset="|${thumbnail.gen(cover, 's')} 400w,
              ${thumbnail.gen(cover, 'm')} 800w,
              ${thumbnail.gen(cover, 'l')} 1200w,
              ${thumbnail.gen(cover, 'xl')} 1600w|"
              sizes="(max-width: 1600px) 100vw, 1600px"
              th:src="${theme.config.carousel.banner_lazyload_img}"
              th:alt="${post.spec.title}"
              onerror="Joe.errorImg(this, 'HomeErrImg')"
            />
          </th:block>

          <div class="title-row">
            <h3 class="title">[[${post.spec.title}]]</h3>

            <th:block th:if="${post.status.excerpt != ''}">
              <p class="subtitle">[[${post.status.excerpt}]]</p>
            </th:block>
          </div>

          <i class="joe-font joe-icon-zhifeiji"></i>
        </a>
      </div>
    </th:block>
  </th:block>
</html>
