<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="comment(name, kind)">
    <div class="joe_comment_box">
      <div class="box_title">
        <h2>评论区</h2>
      </div>
      <th:block
        th:if="${theme.config.basic.comment_option == 'default'} or ${#strings.trim(theme.config.basic.waline.waline_serverURL) ==''}"
      >
        <halo:comment
          group="content.halo.run"
          th:attr="name=${name},kind=${kind}"
          colorScheme="document.documentElement.getAttribute('data-mode')"
        />
      </th:block>
      <th:block
        th:if="${theme.config.basic.comment_option == 'waline'} and ${#strings.trim(theme.config.basic.waline.waline_serverURL) !=''}"
      >
        <div id="waline"></div>
        <style>
          #waline .wl-count {
            color: var(--routine);
          }
        </style>

        <script type="module" th:inline="javascript">
          import { init } from /*[[${theme.config.basic.waline.waline_js_comment}]]*/ '';

          const waline_config_basic_jsonString = /*[[${theme.config.basic.waline.waline_config_basic_json}]]*/'';
          const waline_config_basic_object = JSON.parse((waline_config_basic_jsonString === null || waline_config_basic_jsonString.trim() === '') ?'{}':waline_config_basic_jsonString.trim());

          let waline_config_imageUpload_option = /*[[${theme.config.basic.waline.waline_config_imageUpload_option}]]*/'';
          let imageUploader = 'true';
          if(waline_config_imageUpload_option === "lskypro"){
            imageUploader = (file) => {

            let lskypro_apiURL = /*[[${theme.config.basic.waline.lskypro.lskypro_apiURL}]]*/'';
            let lskypro_apiTOKEN = /*[[${theme.config.basic.waline.lskypro.lskypro_apiTOKEN}]]*/'';
            
            let formData = new FormData();
            let headers = new Headers();
  
            formData.append('file', file);
            if(lskypro_apiTOKEN.trim()!==''){
              headers.append('Authorization', "Bearer " + lskypro_apiTOKEN.trim());
            }
            headers.append('Accept', 'application/json');  
  
            return fetch(lskypro_apiURL.trim(), {
              method: 'POST',
              headers: headers,
              body: formData
            })
              .then((resp) => resp.json())
              .then((resp) => resp.data.links.url);
            }
          }

          init({
            el: '#waline',
            dark: 'html[data-mode="dark"]',
            serverURL: /*[[${theme.config.basic.waline.waline_serverURL}]]*/ '',
            comment: true,
            requiredMeta: ['nick', 'mail'],
            imageUploader,
            ...waline_config_basic_object
          });
        </script>
      </th:block>
    </div>
  </th:block>
</html>
